$navbar-default-bg: rgba(255, 255, 255, 0.7);

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
  box-sizing: border-box;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #838581;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bold;
  transition: color 1s ease;
}

#logo:hover {
  color: #000;
  text-decoration: none;
  transition: color 1s ease;
}

.right {
  padding-top: 28%;
  text-align: right;
}

.jumbotron {
  letter-spacing: 0.9em;
  margin: 0;
  height: 100%;
  background-image: asset-url('eugene-lim.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron h1 {
  color: #c3c3c3;
  font-weight: bold;
}

div.right.jumbotron h1, div.right.jumbotron a {
  color: #e7e7e7;
  margin-right: 40px;
}

div.right.jumbotron a.btn.btn-secondary.btn-lg:link {
  color: #e7e7e7;
  background-color: rgba(11, 35, 39, 0.9);
  transition: background-color 0.8s ease;
}

div.right.jumbotron a.btn.btn-secondary.btn-lg:hover {
  color: #fff;
  background-color: rgba(11, 35, 39, 0.5);
  border: solid 1px #2E393C;
  transition: background-color, border 0.8s ease;
}

div.right.jumbotron a.btn.btn-secondary.btn-lg:active {
  color: #fff;
}

.center {
  text-align: center;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

#footer-relative {
  position: relative;
  margin-top: 50px;
}

footer {
  // margin-top: 40px;
  // padding-top: 5px;
  // z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  color: #777;
  clear: both;
}

footer.footer small {
  padding-top: 20px;
  margin-left: 20px;
}

footer.footer nav ul {
  padding-top: 20px;
  margin-right: 20px;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
